# Python-spezifische Dateien
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.flakes8
.pytest_cache/

# Virtuelle Umgebungen 
venv/
.venv/
env/
ENV/

.env

# Mac-spezifisches
.DS_Store
.AppleDouble
.LSOverride

# IDE-spezifisch 
.vscode/
.idea/
*.swp

# Lokale Datenbank
jarvis_brain/